/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Oct 19, 2016, 7:46:09 AM
    Author     : Adeleke Oladapo
*/

.capital_letter {
    text-transform: uppercase;
}

.bold {
    font-weight: bold;
}

.center {
    text-align: center;
}

td input {
    border: solid 1px #ddd;
    border-radius: 3px;
}

.min-max-form {
    float: right;
    margin-top: -3px;
    margin-right: -5px;
}

.min-max-form input {
    width: 50px;
    border: solid 1px #ccc;
    border-radius: 2px;
    font-size: 15px;
    padding: 3px;
}

.table-select {
    width: 100%;
    border: transparent;
    background-color: transparent;
}

.subjects-select {
    overflow: auto;
    height: 200px;
} 

.subjects-select input {
    float: right;
} 

.broken-horizontal-line {
    border: dashed 1px #eee;
    height: 1px;
    margin: 20px 0;
}


.input-group[class*=col-] {
    float: none;
     padding-right: 15px; 
     padding-left: 15px; 
}

ul#menu-discover-music li ul.nav.sub-menu li>a>i {
    font-size: 5px;
}

.jd-content {
    width: 100%;
    padding: 10px 10px;
}

.jd-content .jd-page {
    width: 100%;
    height: 100%;
    border: solid #eee 1px;
    border-radius: 4px;
    background-color: #fff;
    padding-bottom: 20px;
}

.jd-content .jd-page .jd-page-title {
    border-bottom: solid 1px #eee;
    padding: 10px;
    margin-bottom: 0px;
}

.jd-content .jd-page .jd-page-title a {
    color: #60bed1;
}

.jd-content .jd-page .jd-page-content {
    padding: 15px 10px 10px;
}

.broken-line {
    width: 100%;
    height: 1px;
    border: dashed 1px #eee;
    margin: 10px 0px;
}

.btn-block-full {
    width: 100%;
    margin: 10px 0px;
}

.jd-content .jd-page .jd-inner-page-title {
    border-bottom: solid 1px #eee;
    padding: 5px 10px 15px;
    margin: 0px -10px 15px;
    font-size: 16px;
}

.jd-content .jd-page .jd-inner-page-title > a {
    color: #60bed1;
    cursor: pointer;
}

/********** Form Custom Image Select ************/
.img-placeholder {
    /*border: solid 1px #eee;*/
    width: 150px;
    height: 150px;
    border-radius: 3px;
}

.img-placeholder img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 4px;
}

.custom-file-input {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}

.select-btn-container {
    margin-top: 20px;
    margin-left: 28px;
}

.select-image-btn {
    border: solid 1px #ddd;
    background-color: #f8f8f8;
    padding: 5px 10px;
    margin: auto;
    border-radius: 5px;
    cursor: pointer;
}

.select-image-btn:hover, .select-image-btn:focus {
    background-color: #eee;
} 

.jd-tiny-btn {
    border: solid 1px #60bed1;
    padding: 2px 4px 2px 4px;
    background-color: #60bed1;
    border-radius: 2px;
    float: right;
    cursor: pointer;
    font-size: 13px;
    border-radius: 100%;
    margin-top: -2px;
}


/********** End Form Custom Image Select **********/



/******************* jD Tab Layout *****************/

.jd-tab-container {
    width: 100%;
    margin-top: 5px;
}

.jd-tab-container .jd-tab-title-block {
    
}

.jd-tab-container .jd-tab-title-block > ul {
    list-style-type: none;
    padding: 0 8px;
}

.jd-tab-container .jd-tab-title-block > ul > li {
    display: inline-block;
}

.jd-tab-container .jd-tab-title-block > ul > li > a {
    padding: 8px 35px;
    border-radius: 3px 3px 0px 0px;
}

.jd-tab-container .jd-tab-title-block > ul > li.active > a {
    background-color: #f8f8f8;
    border: solid 1px #ddd;
    border-bottom: transparent;
}

.jd-tab-container .jd-tab-title-block > ul > li > a:hover {
}

.jd-tab-container .jd-tab-content-block {
    width: 100%;
    height: auto;
    margin-top: -3px;
    border: solid 1px #ddd;
    border-radius: 5px;
    border-left: solid 2px #60bed1;
}

.jd-tab-container .jd-tab-content-block .jd-tab-pane {
    width: 100%;
    padding: 10px 10px 10px;
    display: none;
}

.jd-tab-container .jd-tab-content-block .jd-tab-pane.jd-info-pane, .jd-info-pane {
    padding: 25px 30px;
}

.jd-tab-container .jd-tab-content-block .jd-tab-pane.active {
    display: block;
}

/******************** End jD Tab Layout **********/


/******************** jD HTab Layout **********/
.jd-h-tab-container {
    width: 100%;
    margin-top: 5px;
}

.jd-h-tab-container .jd-h-tab-title-block {
    display: inline-block;
    width: 15%;
    border: solid 1px #ddd;
}

.jd-h-tab-container .jd-h-tab-content-block {
    display: inline-block;
    width: 85%;
    float: left;
}

.jd-h-tab-container .jd-h-tab-title-block > ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.jd-h-tab-container .jd-h-tab-title-block > ul > li {
    display: block;
}

.jd-h-tab-container .jd-h-tab-title-block > ul > li > a {
    padding: 8px 8px;
    display: block;
    border-bottom: solid 1px #ddd;
}

.jd-h-tab-container .jd-h-tab-title-block > ul > li.active > a {
    background-color: #f8f8f8;
}

.jd-h-tab-container .jd-h-tab-title-block > ul > li > a:hover {
}

.jd-h-tab-container .jd-h-tab-content-block .jd-h-tab-pane.active {
    display: block;
}
.jd-h-tab-container .jd-h-tab-content-block .jd-h-tab-pane {
    width: 100%;
    padding: 0px 10px 0px 0px;
    display: none;
}

/******************** End jD HTab Layout **********/


/******************** jD Card Layout *************/


.jd-cards-container {
    width: 100%;
}

.jd-cards-container .jd-card {
    display: none;
}

.jd-cards-container .jd-card .jd-card-title {
    padding-bottom: 10px;
    border-bottom: dashed 1px #ddd;
    margin-bottom: 5px;
}

.jd-cards-container .jd-card.active {
    display: block;
}

/******************** End jD Card Layout *************/



/******************* Form ************************/

.required-field {
    color: #a94442;
}

.form-horizontal .control-label {
    text-align: left;
}

.form-control:focus {
    border-color: #60bed1;
}

.form-btns-container {
    /*border: solid 1px #ccc;*/
}

.has-feedback .smk-error-msg {
    /*margin-top: 30px;*/
    font-size: 11px;
}

.form-horizontal .has-feedback .smk-error-msg {
     right: 0px; 
}

.form-horizontal .has-feedback .smk-error-msg {
    /* right: 15px; */
    position: absolute;
    /* float: right; */
    /* margin-top: 33px; */
    margin-right: 15px;
    bottom: 0;
}

.help-block {
    margin-bottom: 0px;
}

.form-horizontal .form-group {
    padding-bottom: 15px;
}

.form-group {
    margin-bottom: 5px;
}

.transparent-overlay {
    top: 0;
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 2000;
    background-color: rgba(22, 33, 40, 0.12);
    right: 0;
    display: none;
}

.transparent-overlay .loading-img {
    width: 100px;
    margin: auto;
    text-align: center;
    margin-top: 290px;
}

.jd-form-block {
}

.jd-form-block .jd-form-block-title {
    
}



/******************* Datatable  *******************/
.dt-table {
    width: 100% !important;
}

.pagination > .active > a, .pagination > .active > a:focus, .pagination > .active > a:hover, .pagination > .active > span, .pagination > .active > span:focus, .pagination > .active > span:hover {
    background-color: #60bed1;
    border-color: #60bed1;
}

/****************** End Datatable ******************/

/******************* End Form *********************/

/******************* Buttons **********************/
.jd-btn {
    border-radius: 3px;
    padding: 5px 20px;
}

.jd-btn-primary {
    color: #fff;
    background-color : #60bed1;
    border: solid 1px #60bed1;
}

.jd-btn-primary:hover, .jd-btn-primary:focus {
    background-color: #49b9d0;
    border-color: #49b9d0;
    color: #fff;
}

.jd-btn-error {
    color: #fff;
    background-color : #ff6c60;
    border: solid 1px #ff6c60;
}

.jd-btn-error:hover, .jd-btn-error:focus {
    background-color: #ff6c60;
    border-color: #ff6c60;
    color: #fff;
}


.jd-btn-default {
    background-color: #f8f8f8;
    border: solid 1px #ccc;
}

.jd-btn-back {
    float: right;
}

table > tbody > tr > td.tb-btn i {
    padding: 2px 4px 3px 4px;
    border-radius: 3px;
    cursor: pointer;
    margin: auto;
}

.dataTables_wrapper .table > tbody > tr > td {
    padding-left: 18px;
}
table > tbody > tr > td.tb-btn {
    text-align: right;
    padding: 7px 8px 0px 0px;
}
.table > tbody > tr > td, .table > tbody > tr > th, .table > tfoot > tr > td, .table > tfoot > tr > th, .table > thead > tr > td, .table > thead > tr > th {
    /*padding: 12px;*/
    /*line-height: 1.42857143;*/
    vertical-align: top;
    /*border-top: 1px solid #ddd;*/
    /*font-size: 13px;*/
}

.tooltip-inner {
    max-width: 200px;
    padding: 3px 8px;
    color: #fff;
    text-align: center;
    background-color: #000;
    border-radius: 4px;
}

.tooltip.top .tooltip-arrow {
    border-top-color: rgba(0,0,0,0.9);
}

/********************* End Buttons *****************/

/********************** Toast **********************/
.toast-container {
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 1000;
}

.toast-container .toast {
    display: block;
    width: 300px;
    padding: 30px 10px;
    margin: auto;
    border: solid 1px #eee;
    text-align: center;
    position: relative;
    top: 50px;
    box-shadow: 0 2px 5px 0px rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
    background-color: #eee;
    float: right;
    margin-right: 10px;
    border-radius: 3px;
    color: #fff;
    display: none;
}

.toast-container .toast.success {
    border-color: #9fd160;
    background-color: #9fd160;
}

/********************** End Toast **********************/


/********** Sidebar ************/
.sidebar-container {
    border: solid 1px #ddd;
    border-radius: 2px;
    margin-bottom: 10px;
}

.sidebar-container .sidebar-form-title {
    padding: 10px;
    border-bottom: solid 1px #ddd;
    margin-bottom: 0px;
    background-color: #f8f8f8;
    font-size: 16px;
}

.sidebar-container .sidebar-form-content {
    padding: 10px;
}

.sidebar-container form .button-container {
    border-top: solid 1px #eee;
    margin-top: 20px;
    text-align: right;
    padding: 15px 0 0;
}
/********** End Sidebar ************/


/******** jd-slide-cards ***********/

.jd-slide-cards {
}

.jd-slide-cards .card {
    display: none;
}

/******** end jd-slide-cards ***********/


/********* class-level list *********/
ul.class-level-list, ul.class-level-list-2 {
    padding: 0;
    list-style-type: none;
    margin-bottom: -1px;
}

ul.class-level-list > li {
    display: block;
}

ul.class-level-list-2 > li {
    display: block;
    border-bottom: solid 1px #eee;
    padding: 8px 10px;
    position: relative;
}

ul.class-level-list-2 > li select {
    position: absolute;
    right: 25px;
    top: 8px;
    border: solid 1px #ddd;
    border-radius: 5px;
}

ul.class-level-list-2.class-subjects > li input {
    position: absolute;
    right: 5px;
}

ul.class-level-list > li > a {
    display: block;
    border-bottom: solid 1px #eee;
    padding: 8px 10px;
    position: relative;
}

ul.class-level-list > li.active > a{
    background-color: #f8f8f8;
}

ul.class-level-list > li > a > .counter {
    border: solid 1px #60bed1;
    padding: 2px 6px;
    position: absolute;
    right: 10px;
    font-size: 10px;
    background-color: #60bed1;
    color: #fff;
    border-radius: 3px;
    font-weight: bold;
}

ul.class-level-list > li > a:hover {
    background-color: #f8f8f8;
}
/******** end class-level list ********/

/************ jd modal *************/
.jd-modal {
    margin-top: 100px;
    border: solid 1px #ccc;
    background-color: #fff;
    border-radius: 2px;
    box-shadow: 0 7px 8px -4px rgba(0,0,0,0.2), 0 13px 19px 2px rgba(0,0,0,0.14), 0 5px 24px 4px rgba(0,0,0,0.2);
}

.jd-modal .jd-modal-title {
    border-bottom: solid 1px #e6e6e6;
    background-color: #f8f8f8;
    padding: 12px 10px;
    margin-bottom: 10px;
}

.jd-modal .jd-modal-body {
    padding: 10px;
}

.jd-modal .jd-modal-footer {
    border-top: solid 1px #e6e6e6;
    padding: 15px 10px;
    text-align: right;
}

.jd-modal .jd-modal-btn {
    margin: 0;
    font-size: 18px;
    padding: 2px 30px;
    background-color: #fff;
    text-transform: uppercase;
}

.jd-modal .jd-modal-btn:hover, .jd-modal .jd-modal-btn:focus, .jd-modal .jd-modal-btn:active {
    background-color: #f8f8f8;
    border: solid 1px #f8f8f8;
}

.jd-modal .jd-modal-btn.btn-ok {
    color: #212a30;
}

/************ end jd modal *************/


/************** jd info block ***********/

.jd-info-block {
    
}

.jd-info-block .info-item {
    margin-left: 5px;
}

.jd-info-block .info-item .info-item-title {
    font-weight: bold;
}

.jd-info-block .info-item .info-item-descr {
}

.jd-info-block .info-item .info-item-descr img {
    width: 150px;
    height: 150px;
    border-radius: 4px;
}

.jd-info-block .table td {
    border: 0;
}

/************** jd info block ***********/

/********** jd checkbox **************/

.jd-checkbox {
    border: solid 1px #ccc;
    padding: 0px 4px;
    border-radius: 4px;
    cursor: pointer;
}

.jd-checkbox i {
    
}

/********** end jd checkbox **************/

/********** jd table-timetable ***********/

.jd-tb-timetable-wrapper{
    border: solid 1px #ddd;
    background-color: #f5f5f5;
    margin-bottom: 10px;
}

.jd-tb-timetable {
    width: 100%;
    margin: -1px -1px -1px 0px;
}

.jd-tb-timetable .weekday-title {
    width: 10px;
    text-align: center;
    text-transform: uppercase;
    background-color: #f8f8f8;
}

.jd-tb-timetable .period {
    border: solid 1px #ddd;
    background-color: #fff;
}

.jd-tb-timetable .period.break {
    background-color: #f8f8f8;
}

.jd-tb-timetable .period .check {
    float: right;
}

.jd-tb-timetable .period .subject {
    font-weight: bold;
}

.jd-tb-timetable .period .teacher {
    font-weight: lighter;
}

table.jd-tb-timetable td:last-child {
    border-right-width: 1px;
}

/********** end jd table-timetable ***********/

/**** class examination *****/
.exam-settings-wrapper {
    
}

.exam-settings-wrapper .quota {
    padding-bottom: 3px;
}

.exam-settings-header {
    border: solid 1px #ddd;
    padding: 8px 8px 5px;
    background-color: #f8f8f8;
    border-radius: 3px;
    margin-bottom: 10px;
}

/**** end class examination *****/



/***********MISC**********/
.top-add-btn-container {
    float: right;
    margin-top: -8px;
}