                                            <div class="jd-cards-container">
                                                <!-- card classes -->
                                                <div class="row jd-card active" id="classes"> 

                                                    <div class="col-md-12">
                                                        <h1 class="h4 m-b-md m-t-none font-normal jd-inner-page-title">
                                                            All Classes
                                                            <span class="top-add-btn-container">
                                                                <button class="btn jd-btn jd-btn-primary" ng-click="show_add_class_overlay()"><i class="fa fa-plus-circle"> </i> New</button>
                                                            </span>
                                                        </h1>
                                                    </div>


                                                    <div class="col-md-2">

                                                        <!-- class types list -->
                                                        <div class="sidebar-container">
                                                            <h3 class="h4 m-b-md m-t-none font-normal sidebar-form-title">Class Types <span class="jd-tiny-btn"><i class="ion ion-plus-round jd-btn-primary" rel="tooltip" data-toggle="tooltip" data-placement="top" title="" onmouseenter="$(this).tooltip('show')" data-original-title="New" aria-describedby="tooltip619559"></i></span></h3>
                                                            <ul class="class-level-list">
                                                                <li ng-repeat="type in class_types">
                                                                    <a ng-init="id = type.class_type_id" href="" ng-click="setActiveClassType(id)">
                                                                        {{ type.name }}
                                                                        <!--<span class="counter">0</span>-->
                                                                    </a>
                                                                </li>
                                                            </ul>
                                                            <form class="sidebar-form-content" style="background-color: #f8f8f8" id="form-add-class-type" name="form-add-class-type">
                                                                <div class="form-group" style="margin: 0">
                                                                    <input type="text" ng-model="class_type.name" placeholder="New Type" name="name" class="form-control" required>
                                                                </div>
                                                                <div style="border: solid 1px red" ng-hide="true">
                                                                    <button type="submit" ng-click="addClassType()">Submit</button>
                                                                </div>
                                                            </form>
                                                        </div>
                                                        <!--/ class types list -->

                                                        <!-- class levels list -->
                                                        <div class="sidebar-container">
                                                            <h3 class="h4 m-b-md m-t-none font-normal sidebar-form-title">Class Levels <span class="jd-tiny-btn"><i class="ion ion-plus-round jd-btn-primary" rel="tooltip" data-toggle="tooltip" data-placement="top" title="" onmouseenter="$(this).tooltip('show')" data-original-title="New" aria-describedby="tooltip619559"></i></span></h3>
                                                            <ul class="class-level-list">
                                                                <li ng-repeat="level in active_class_type_levels">
                                                                    <a ng-init="id = level.class_level_id" href="" ng-click="setActiveLevel(id)">
                                                                        {{ level.name }}
                                                                        <!--<span class="counter">0</span>-->
                                                                    </a>
                                                                </li>
                                                            </ul>
                                                            <form class="sidebar-form-content" style="background-color: #f8f8f8" id="form-add-class-level" name="form-add-class-level">
                                                                <div class="form-group" style="margin: 0">
                                                                    <input type="text" ng-model="class_level.name" placeholder="New Level" name="name" class="form-control" required>
                                                                </div>
                                                                <div style="border: solid 1px red" ng-hide="true">
                                                                    <button type="submit" ng-click="addClassLevel()">Submit</button>
                                                                </div>
                                                            </form>
                                                        </div>
                                                        <!--/ class levels list -->
                                                    </div>


                                                    <div class="col-md-10 main-table-with-sidebar">
                                                        <div class="sidebar-container">
                                                            <h3 class="h4 m-b-md m-t-none font-normal sidebar-form-title">
                                                                {{ active_class_type.name+" / "+active_level.name }} 
                                                                <span class="jd-tiny-btn"><i class="ion ion-plus-round jd-btn-primary" rel="tooltip" data-toggle="tooltip" data-placement="top" title="" onmouseenter="$(this).tooltip('show')" data-original-title="New" aria-describedby="tooltip619559" ng-click="show_add_class_overlay()"></i></span>
                                                            </h3>
                                                            <div style="padding: 10px">
                                                                <table class="table dt-table table-hover table-striped table-responsive" datatable="ng"> 
                                                                    <thead class="table-bordered">
                                                                        <tr>
                                                                            <th>SN</th>
                                                                            <th>Name</th>
                                                                            <th>Code</th>
                                                                            <th>Level</th>
                                                                            <th>Department</th>
                                                                            <th></th>
                                                                        </tr>
                                                                    </thead>
                                                                    <tbody class="table-bordered">
                                                                        <tr ng-repeat="classs in active_level_classes">
                                                                            <td>{{ $index + 1 }}</td>
                                                                            <td>{{ classs.name }}</td>
                                                                            <td>{{ classs.code }}</td>
                                                                            <td>{{ classs.level_name }}</td>
                                                                            <td>{{ classs.department_name }}</td>
                                                                            <td class="tb-btn"><i class="ion ion-clipboard jd-btn-primary" rel="tooltip" data-toggle="tooltip" data-placement="top" title="" onmouseenter="$(this).tooltip('show')" data-original-title="View" ng-click="showClass(classs.class_id)"></i></td>
                                                                        </tr>

                                                                    </tbody>
                                                                </table>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <!--/ card classes -->
                                                
                                                <!-- card class -->
                                                <div class="row jd-card" id="class">
                                                    <div class="col-md-12">
                                                        <h1 class="h4 m-b-md m-t-none font-normal jd-inner-page-title">
                                                            <a ng-click="showClasses()">Classes /</a> {{ classs.name }}
                                                            <span class="top-add-btn-container">
                                                                <a ng-click="showClasses()" class="btn jd-btn jd-btn-back"><i class="fa fa-arrow-circle-left"> </i> Back</a>
                                                            </span>
                                                        </h1>
                                                    </div>
                                                    <div class="jd-info-pane">
                                                        <div class="row">
                                                            <!-- class info -->
                                                            
                                                            <div class="jd-h-tab-container">
                                                                <div class="jd-h-tab-content-block">
                                                                    <div class="jd-h-tab-pane active" id="tab_1">
                                                                        <div class="col-md-6 jd-info-block">
                                                                            <table class="table">
                                                                                <tbody>
                                                                                    <tr class="info-item">
                                                                                        <td class="info-item-title">
                                                                                           Name
                                                                                        </td>
                                                                                        <td class="info-item-descr">
                                                                                            {{ classs.name }}
                                                                                        </td>
                                                                                    </tr>
                                                                                    <tr class="info-item">
                                                                                        <td class="info-item-title">
                                                                                           Code
                                                                                        </td>
                                                                                        <td class="info-item-descr ng-binding">
                                                                                            {{ classs.code }}
                                                                                        </td>
                                                                                    </tr>
                                                                                    <tr class="info-item">
                                                                                        <td class="info-item-title">
                                                                                           Level
                                                                                        </td>
                                                                                        <td class="info-item-descr">
                                                                                            {{ classs.level_name }}
                                                                                        </td>
                                                                                    </tr>
                                                                                </tbody>
                                                                            </table>
                                                                        </div>
                                                                        <div class="col-md-4 jd-info-block">
                                                                            <table class="table">
                                                                                <tbody>
                                                                                    <tr class="info-item">
                                                                                        <td class="info-item-title">
                                                                                           Type
                                                                                        </td>
                                                                                        <td class="info-item-descr ng-binding">
                                                                                            {{ classs.class_type }}
                                                                                        </td>
                                                                                    </tr>
                                                                                    <tr class="info-item">
                                                                                        <td class="info-item-title">
                                                                                           Department
                                                                                        </td>
                                                                                        <td class="info-item-descr ng-binding">
                                                                                            {{ classs.department_name }}
                                                                                        </td>
                                                                                    </tr>
                                                                                </tbody>
                                                                            </table>
                                                                        </div>
                                                                    </div>
                                                                    <div class="jd-h-tab-pane" id="tab_2">
                                                                        <table class="table table-hover table-striped table-responsive" style="margin-bottom: 0px"> 
                                                                            <thead class="table-bordered">
                                                                                <tr>
                                                                                    <th>SN</th>
                                                                                    <th>Subject</th>
                                                                                    <th>Score Group</th>
                                                                                    <th>Teacher</th>
                                                                                    <th><span class="jd-tiny-btn" style="padding: 0px 4px 1px 4px;"><i class="ion ion-plus-round jd-btn-primary" rel="tooltip" data-toggle="tooltip" data-placement="top" title="New" onmouseenter="$(this).tooltip('show')" data-original-title="Save" ng-click="show_assign_subject_overlay()"></i></span></th>
                                                                                </tr>
                                                                            </thead>
                                                                            <tbody class="table-bordered">
                                                                                <tr ng-repeat="basic_class_subject in basic_class_subjects">
                                                                                    <td>{{ $index + 1 }}</td>
                                                                                    <td>{{ basic_class_subject.subject }}</td>
                                                                                    <td>{{ basic_class_subject.score_group }}</td>
                                                                                    <td>{{ basic_class_subject.teacher }}</td>
                                                                                    <td class="tb-btn">
                                                                                        <i class="ion ion-edit jd-btn-primary" rel="tooltip" data-toggle="tooltip" data-placement="top" title="" onmouseenter="$(this).tooltip('show')" data-original-title="Edit"></i>
                                                                                        <i class="ion ion-close-round jd-btn-error" rel="tooltip" data-toggle="tooltip" data-placement="top" title="" onmouseenter="$(this).tooltip('show')" data-original-title="Delete" ng-click="deleteClassSubject(basic_class_subject)"></i>
                                                                                    </td>
                                                                                </tr>
                                                                            </tbody>
                                                                        </table>
                                                                    </div>
                                                                    <div class="jd-h-tab-pane" id="tab_3">
                                                                        Class Timing
                                                                    </div>
                                                                </div>
                                                                <div class="jd-h-tab-title-block">
                                                                    <ul>
                                                                        <li class="active" data-href="tab_1">
                                                                            <a href="">Basic Details</a>
                                                                        </li>
                                                                        <li data-href="tab_2">
                                                                            <a href="">Subjects</a>
                                                                        </li>
                                                                        <li data-href="tab_3">
                                                                            <a href="">Class Timing</a>
                                                                        </li>
                                                                    </ul>
                                                                </div>
                                                            </div>
                                                            
                                                            
                                                            
                                                            
                                                            
                                                            
                                                            
                                                            
                                                            
                                                            
                                                            
                                                            
                                                            
                                                            
                                                            
                                                            
                                                            
                                                            <!-- all subjects 
                                                            <div class="col-md-6">
                                                                <div class="sidebar-container">
                                                                    <h3 class="h4 m-b-md m-t-none font-normal sidebar-form-title">Class Subjects <span class="jd-tiny-btn"><i class="ion ion-plus-round jd-btn-primary" rel="tooltip" data-toggle="tooltip" data-placement="top" title="New" onmouseenter="$(this).tooltip('show')" data-original-title="Save" ng-click="show_assign_subject_overlay()"></i></span></h3>
                                                                    <div>
                                                                        <table class="table table-hover table-striped table-responsive" style="margin-bottom: 0px"> 
                                                                            <thead class="">
                                                                                <tr>
                                                                                    <th>SN</th>
                                                                                    <th>Subject</th>
                                                                                    <th>Score Group</th>
                                                                                    <th>Teacher</th>
                                                                                    <th></th>
                                                                                </tr>
                                                                            </thead>
                                                                            <tbody class="">
                                                                                <tr ng-repeat="basic_class_subject in basic_class_subjects">
                                                                                    <td>{{ $index + 1 }}</td>
                                                                                    <td>{{ basic_class_subject.subject }}</td>
                                                                                    <td>{{ basic_class_subject.score_group }}</td>
                                                                                    <td>{{ basic_class_subject.teacher }}</td>
                                                                                    <td class="tb-btn">
                                                                                        <i class="ion ion-edit jd-btn-primary" rel="tooltip" data-toggle="tooltip" data-placement="top" title="" onmouseenter="$(this).tooltip('show')" data-original-title="Edit"></i>
                                                                                        <i class="ion ion-close-round jd-btn-error" rel="tooltip" data-toggle="tooltip" data-placement="top" title="" onmouseenter="$(this).tooltip('show')" data-original-title="Delete" ng-click="deleteClassSubject(basic_class_subject)"></i>
                                                                                    </td>
                                                                                </tr>
                                                                            </tbody>
                                                                        </table>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <!--/ all subjects -->
                                                            <!-- class subjects 
                                                            <div class="col-md-2">
                                                                <div class="sidebar-container">
                                                                    <h3 class="h4 m-b-md m-t-none font-normal sidebar-form-title">All Subjects <!--<span class="jd-tiny-btn"><i class="ion ion-arrow-graph-up-left jd-btn-primary" rel="tooltip" data-toggle="tooltip" data-placement="top" title="" onmouseenter="$(this).tooltip('show')" data-original-title="Assign" aria-describedby="tooltip619559" ng-click="assignClassSubjects()"></i></span>--></h3>
                                                                    <!--<form class="subjects-select" name="form-subject-list" id="form-subject-list">
                                                                        <ul class="class-level-list-2">
                                                                            <li ng-repeat="subject in subjects">
                                                                                {{ subject.name }}
                                                                                <!--<input type="checkbox" name="{{ $index }}" value="{{ subject.subject_id }}">-->
                                                                            <!--</li>
                                                                        </ul>
                                                                    </form>
                                                                </div>
                                                            </div>
                                                            <!--/ class subjects -->
                                                            
                                                        </div>
                                                    </div>
                                                </div>
                                                <!--/ card class -->
                                                
                                            </div>





                                            <!-- New Class overlay -->
                                            <div class="transparent-overlay" id="add-class-overlay">
                                                <div class="row">
                                                    <div class="col-md-4 col-md-offset-4">
                                                        <div class="jd-modal">
                                                            <h1 class="h4 m-b-md m-t-none font-normal jd-modal-title">
                                                                New Class ({{ active_class_type.name+" / "+active_level.name }})
                                                            </h1>
                                                            <div class="jd-modal-body">
                                                                <form class="form-horizontal" name="form-add-class" id="form-add-class"  novalidate> 
                                                                    <div class="form-group">
                                                                        <label for="name" class="col-sm-4 control-label">Name <span class="required-field"> *</span></label>
                                                                        <div class="col-sm-8">
                                                                            <input type="text" ng-model="classs.name" name="name" class="form-control" required>
                                                                        </div>
                                                                    </div>
                                                                    <div class="form-group">
                                                                        <label for="code" class="col-sm-4 control-label">Code <span class="required-field"> *</span></label>
                                                                        <div class="col-sm-8">
                                                                            <input type="text" ng-model="classs.code" name="code" class="form-control" required>
                                                                        </div>
                                                                    </div>
                                                                    <div class="form-group">
                                                                        <label for="department_id" class="col-sm-4 control-label">Department <span class="required-field"> *</span></label>
                                                                        <div class="col-sm-8">
                                                                            <select name="department_id" class="form-control" ng-model="classs.student_department_id" required>
                                                                                <option value="{{ department.student_department_id }}" ng-repeat="department in departments">{{ department.name }}</option>
                                                                            </select>
                                                                        </div>
                                                                    </div>
                                                                </form>
                                                            </div>
                                                            <div class="jd-modal-footer">
                                                                <button class="btn jd-modal-btn" onclick="hide_form_modal('add-class-overlay', '')">Cancel</button>
                                                                <button class="btn jd-modal-btn btn-ok" ng-click="addClass()">OK</button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <!-- End New Class overlay -->
                                            
                                            
                                            <!-- Assign subject overlay -->
                                            <div class="transparent-overlay" id="assign-subject-overlay">
                                                <div class="row">
                                                    <div class="col-md-4 col-md-offset-4">
                                                        <div class="jd-modal">
                                                            <h1 class="h4 m-b-md m-t-none font-normal jd-modal-title">
                                                                Assign Subject
                                                            </h1>
                                                            <div class="jd-modal-body">
                                                                <form class="form-horizontal" name="form-assign-subject" id="form-assign-subject"  novalidate> 
                                                                    <div class="form-group">
                                                                        <label for="name" class="col-sm-4 control-label">Subject <span class="required-field"> *</span></label>
                                                                        <div class="col-sm-8">
                                                                            <select class="form-control" ng-model="class_subject.subject_id" required>
                                                                                <option value="{{ subject.subject_id }}" ng-repeat="subject in subjects">
                                                                                    {{ subject.name }}
                                                                                </option>
                                                                            </select>
                                                                        </div>
                                                                    </div>
                                                                    <div class="form-group">
                                                                        <label for="code" class="col-sm-4 control-label">Score Group <span class="required-field"> *</span></label>
                                                                        <div class="col-sm-8">
                                                                            <select class="form-control" ng-model="class_subject.score_group_id" required>
                                                                                <option value="{{ group.score_group_id }}" ng-repeat="group in score_groups">
                                                                                    {{ group.name }}
                                                                                </option>
                                                                            </select>
                                                                        </div>
                                                                    </div>
                                                                    <div class="form-group">
                                                                        <label for="department_id" class="col-sm-4 control-label">Teacher </label>
                                                                        <div class="col-sm-8">
                                                                            <select name="department_id" class="form-control" ng-model="class_subject.employee_id" required>
                                                                                <option value="{{ employee.employee_id }}" ng-repeat="employee in employees">{{ employee.firstname+" "+employee.lastname }}</option>
                                                                            </select>
                                                                        </div>
                                                                    </div>
                                                                </form>
                                                            </div>
                                                            <div class="jd-modal-footer">
                                                                <button class="btn jd-modal-btn" onclick="hide_form_modal('assign-subject-overlay', '')">Cancel</button>
                                                                <button class="btn jd-modal-btn btn-ok" ng-click="assignClassSubject()">OK</button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <!-- End Assign subject overlay -->
                                            
                                               