                    <!-- Page -->
                        <div class="jd-page">
                            
                            <!-- Page Title -->
                            <h1 class="h4 m-b-md m-t-none font-normal jd-page-title">
                                Settings / Academic
                            </h1>
                            <!-- Page Title -->
                            
                            <!-- Page Content -->
                            <div class="font-normal jd-page-content">
                                
                                <div class="jd-tab-container">
                                    <div class="jd-tab-title-block">
                                        <ul>
                                            <li class="active" data-href="dept">
                                                <a href="">Departments</a>
                                            </li>
                                            <li data-href="class">
                                                <a href="">Classes</a>
                                            </li>
                                            <li data-href="session">
                                                <a href="">Quota</a>
                                            </li>
                                            <li data-href="subject">
                                                <a href="">Subjects</a>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="jd-tab-content-block">
                                        <div class="jd-tab-pane active" id="dept" ng-include="'assets/app/views/includes/settings/academic-settings/department.html'">
                                            
                                        </div>
                                        <div class="jd-tab-pane" id="class" ng-include="'assets/app/views/includes/settings/academic-settings/class.html'">
                                            
                                        </div>
                                        <div class="jd-tab-pane" id="session" ng-include="'assets/app/views/includes/settings/academic-settings/session.html'">
                                            
                                        </div>
                                        <div class="jd-tab-pane" id="subject" ng-include="'assets/app/views/includes/settings/academic-settings/subject.html'">
                                            
                                        </div>
                                    </div>
                                </div>
                                
                            </div>
                            <!-- End Page Content -->
                            
                        </div>
                    <!-- End Page -->