                    <!-- Page -->
                        <div class="jd-page">
                            
                            <!-- Page Title -->
                            <h1 class="h4 m-b-md m-t-none font-thin jd-page-title">
                                Dashboard
                            </h1>
                            <!-- Page Title -->
                            
                            <!-- Page Content -->
                            <div class="font-thin jd-page-content">
                                
                                
                                
                                
                                
                                <div class="jd-h-tab-container">
                                    <div class="jd-h-tab-content-block">
                                        <div class="jd-h-tab-pane active" id="tab_1">
                                            <div class="">
                                                <h1 class="h4 m-b-md m-t-none font-normal jd-inner-page-title">
                                                    Tab One
                                                </h1>
                                            </div>
                                            Tab One
                                        </div>
                                        <div class="jd-h-tab-pane" id="tab_2">
                                            <div class="">
                                                <h1 class="h4 m-b-md m-t-none font-normal jd-inner-page-title">
                                                    Tab Two
                                                </h1>
                                            </div>
                                            Tab Two
                                        </div>
                                        <div class="jd-h-tab-pane" id="tab_3">
                                            <div class="">
                                                <h1 class="h4 m-b-md m-t-none font-normal jd-inner-page-title">
                                                    Tab Three
                                                </h1>
                                            </div>
                                            Tab Three
                                        </div>
                                    </div>
                                    <div class="jd-h-tab-title-block">
                                        <ul>
                                            <li class="active" data-href="tab_1">
                                                <a href="">Tab 1</a>
                                            </li>
                                            <li data-href="tab_2">
                                                <a href="">Tab 2</a>
                                            </li>
                                            <li data-href="tab_3">
                                                <a href="">Tab 3</a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                
                                
                                
                                
                                
                                
                                
                            </div>
                            <!-- End Page Content -->
                            
                        </div>
                    <!-- End Page -->