                    <!-- Page -->
                        <div class="jd-page">
                            
                            <!-- Page Title -->
                            <h1 class="h4 m-b-md m-t-none font-thin jd-page-title">
                                Dashboard
                            </h1>
                            <!-- Page Title -->
                            
                            <!-- Page Content -->
                            <div class="font-thin jd-page-content">
                                The dashboard 
                            </div>
                            <!-- End Page Content -->
                            
                        </div>
                    <!-- End Page -->