                    <!-- Page -->
                        <div class="jd-page">
                            
                            <!-- Page Title -->
                            <h1 class="h4 m-b-md m-t-none font-normal jd-page-title">
                                Settings / General
                            </h1>
                            <!-- Page Title -->
                            
                            <!-- Page Content -->
                            <div class="font-normal jd-page-content">
                                
                                <div class="jd-tab-container">
                                    <div class="jd-tab-title-block">
                                        <ul>
                                            <li class="active" data-href="basic-information">
                                                <a href="">Basic Information</a>
                                            </li>
                                            <li data-href="student-category">
                                                <a href="">Student Categories</a>
                                            </li>
                                            <li data-href="additional-details">
                                                <a href="">Additional Fields</a>
                                            </li>
                                            <li data-href="update-password">
                                                <a href="">Update Password</a>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="jd-tab-content-block">
                                        <div class="jd-tab-pane active" id="basic-information" ng-include="'assets/app/views/includes/settings/general-settings/basic-information.html'">
                                             
                                        </div>
                                        <div class="jd-tab-pane" id="student-category" ng-include="'assets/app/views/includes/settings/general-settings/student-category.html'">
                                            
                                        </div>
                                        <div class="jd-tab-pane" id="additional-details" ng-include="'assets/app/views/includes/settings/general-settings/additional-fields.html'">
                                            
                                        </div>
                                        <div class="jd-tab-pane" id="update-password">
                                            Update Password
                                        </div>
                                    </div>
                                </div>
                                
                            </div>
                            <!-- End Page Content -->
                            
                        </div>
                    <!-- End Page -->
                    
                    
                    <script>
                        $(function(){
                            $('#img-placeholder').imagepreview({
                                input: '[name="photo"]',
                                reset: '',
                                preview: '#img-placeholder'
                            });
                        });
                    </script>