                    <!-- Page -->
                        <div class="jd-page">
                            
                            <!-- Page Title -->
                            <h1 class="h4 m-b-md m-t-none font-normal jd-page-title">
                                Settings / Human Resource
                            </h1>
                            <!-- Page Title -->
                            
                            <!-- Page Content -->
                            <div class="font-normal jd-page-content">
                                
                                <div class="jd-tab-container">
                                    <div class="jd-tab-title-block">
                                        <ul>
                                            <li class="active" data-href="department">
                                                <a href="">Departments</a>
                                            </li>
                                            <li data-href="position">
                                                <a href="">Positions</a>
                                            </li>
                                            <li data-href="grade-level">
                                                <a href="">Grade Levels</a>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="jd-tab-content-block">
                                        <div class="jd-tab-pane active" id="department" ng-include="'assets/app/views/includes/settings/hr-settings/department.html'">
                                            
                                        </div>
                                        <div class="jd-tab-pane" id="position">
                                            Positions by Categories
                                        </div>
                                        <div class="jd-tab-pane" id="grade-level">
                                            Grade Levels
                                        </div>
                                    </div>
                                </div>
                                
                            </div>
                            <!-- End Page Content -->
                            
                        </div>
                    <!-- End Page -->