                    <!-- Page -->
                        <div class="jd-page">
                            
                            <!-- Page Title -->
                            <h1 class="h4 m-b-md m-t-none font-thin jd-page-title">
                                Settings / Human Resource
                            </h1>
                            <!-- Page Title -->
                            
                            <!-- Page Content -->
                            <div class="font-thin jd-page-content">
                                
                                <div class="jd-tab-container">
                                    <div class="jd-tab-title-block">
                                        <ul>
                                            <li class="active" data-href="tab_1">
                                                <a href="">Basic Information</a>
                                            </li>
                                            <li data-href="tab_2">
                                                <a href="">Update Password</a>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="jd-tab-content-block">
                                        <div class="jd-tab-pane active" id="tab_1">
                                            Card Layout
                                            <button onclick="showCard('card-1')">show 1</button>
                                            <button onclick="showCard('card-2')">show 2</button>
                                            <button onclick="showCard('card-3')">show 3</button>
                                            <!-- Card Layout -->
                                            <div class="jd-cards-container">
                                                <div class="jd-card active" id="card-1">Card 1</div>
                                                <div class="jd-card" id="card-2">Card 2</div>
                                                <div class="jd-card" id="card-3">Card 3</div>
                                            </div>
                                            <!-- End Card Layout -->
                                            
                                        </div>
                                        <div class="jd-tab-pane" id="tab_2">
                                            Update Password
                                        </div>
                                    </div>
                                </div>
                                
                            </div>
                            <!-- End Page Content -->
                            
                        </div>
                    <!-- End Page -->