                    <!-- Page -->
                        <div class="jd-page">
                            
                                                        <!-- Page Title -->
                            <h1 class="h4 m-b-md m-t-none font-normal jd-page-title">
                                Library / <a ui-sref="library-authors">Authors / </a> {{ author.name }}
                            </h1>
                            <!-- Page Title -->
                            
                            <!-- Page Content -->
                            <div class="font-normal jd-page-content">

                                <div class="jd-tab-container">
                                    <span class="top-add-btn-container">
                                        <a ui-sref="view-author({ id : author.author_id })" class="btn jd-btn jd-btn-back"><i class="fa fa-arrow-circle-left"> </i> Back</a>
                                    </span>
                                    <div class="jd-tab-title-block">
                                        <ul>
                                            <li class="active" data-href="new-publisher">
                                                <a href="">Edit Author</a>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="jd-tab-content-block">
                                        <div class="jd-tab-pane active" id="new-publisher">

                                            <form class="form-horizontal" name="form-update-author" id="form-update-author"  novalidate> 
                                                <input type="hidden" ng-init="school_id = author.school_id" name="school-id" value="{{ school_id }}">
                                                <input type="hidden" ng-init="author_id = author.author_id" name="author-id" value="{{ author_id }}">
                                                <div class="row">

                                                    <div class="col-md-4 jd-form-block">
                                                        <h3 class="h5 m-b-md m-t-none font-bold jd-form-block-title">Basic Details</h6>
                                                        <div class="form-group">
                                                            <label for="name" class="col-sm-4 control-label">Firstname <span class="required-field"> *</span></label>
                                                            <div class="col-sm-8" ng-init="firstname = author.firstname" >
                                                                <input type="text" name="firstname" value="{{ firstname }}" class="form-control" required>
                                                            </div>
                                                        </div>
                                                        <div class="form-group">
                                                            <label for="name" class="col-sm-4 control-label">Lastname </label>
                                                            <div class="col-sm-8" ng-init="lastname = author.lastname" >
                                                                <input type="text" name="lastname" value="{{ lastname }}" class="form-control" >
                                                            </div>
                                                        </div>
                                                        <div class="form-group">
                                                            <label for="email" class="col-sm-4 control-label">Email</label>
                                                            <div class="col-sm-8" ng-init="email = author.email">
                                                                <input type="email" name="email" value="{{ email }}" class="form-control">
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <div class="col-md-4 jd-form-block">
                                                        <h3 class="h5 m-b-md m-t-none font-bold jd-form-block-title">More Information</h6>
                                                        <div class="form-group">
                                                            <label for="phone" class="col-sm-4 control-label">Phone No </label>
                                                            <div class="col-sm-8" ng-init="phone = author.phone">
                                                                <input type="text" name="phone" value="{{ phone }}" class="form-control">
                                                            </div>
                                                        </div>
                                                        <div class="form-group">
                                                            <label for="address" class="col-sm-4 control-label">Address </label>
                                                            <div class="col-sm-8" ng-init="address = author.address">
                                                                <textarea class="form-control" name="address" rows="3">{{ address }}</textarea>
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <div class="col-md-4 jd-form-block plus-115-bottom-margin">
                                                        <h3 class="h5 m-b-md m-t-none font-bold jd-form-block-title">Author's Photo</h3>
                                                        <div class="form-group">
                                                            <label for="phone" class="col-sm-4 control-label">Photo</label>
                                                            <div class="col-sm-8">
                                                                <div class="img-placeholder" id="img-placeholder" ng-init=" path = (author.photo) ? 'uploads/'+author.school_id+'/'+author.photo : 'system-images/blank-avatar.png' ">
                                                                    <img ng-src="assets/images/{{ path }}">
                                                                </div>
                                                                <div class="select-btn-container">
                                                                    <input type="file" class="custom-file-input" accept="image/*" id="photo" name="photo">
                                                                    <span class="select-image-btn" onclick="$('.custom-file-input').click();">Select Image</span>
                                                                    <!--<span class="photo-spec">Accepted formats: .jpg, .gif and .jpeg</span>-->
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <div class="col-md-12 form-btns-container">
                                                        <div class="broken-line"></div>
                                                        <button class="btn jd-btn jd-btn-default" ng-click="state.go('view-author', { 'id' : author.author_id } )" type="button" >Cancel</button>
                                                        <button class="btn jd-btn jd-btn-primary" ng-click="updateAuthor()">Save</button>
                                                    </div>


                                                </div>

                                            </form>

                                        </div>
                                    </div>
                                </div>

                            </div>
                            <!-- End Page Content -->
                            
                        </div>
                    <!-- End Page -->
                    
                    
                    
                    
<script>
    $(function(){
        $('#img-placeholder').imagepreview({
            input: '[name="photo"]',
            reset: '',
            preview: '#img-placeholder'
        });
    });
</script>