                    <!-- Page -->
                        <div class="jd-page">
                            
                            <!-- Page Title -->
                            <h1 class="h4 m-b-md m-t-none font-thin jd-page-title">
                                Students
                            </h1>
                            <!-- Page Title -->
                            
                            <!-- Page Content -->
                            <div class="font-thin jd-page-content">
                                This is the content of the page 
                            </div>
                            <!-- End Page Content -->
                            
                        </div>
                    <!-- End Page -->