                    <!-- Page -->
                        <div class="jd-page">
                            
                            <!-- Page Title -->
                            <h1 class="h4 m-b-md m-t-none font-normal jd-page-title">
                                <a ui-sref="students">Student /</a> {{ student.firstname+' '+student.lastname }}
                            </h1>
                            <!-- Page Title -->
                            
                            <!-- Page Content -->
                            <div class="font-normal jd-page-content">

                                <div class="jd-tab-container">
                                    <span class="top-add-btn-container">
                                        <a ui-sref="students" class="btn jd-btn jd-btn-back"><i class="fa fa-arrow-circle-left"> </i> Back</a>
                                    </span>
                                    <div class="jd-tab-title-block">
                                        <ul>
                                            <li class="active" data-href="basic-info">
                                                <a href="">Basic Details</a>
                                            </li>
                                            <li data-href="guardian-info">
                                                <a href="">Guardian's Information</a>
                                            </li>
                                            <li data-href="library-record">
                                                <a href="">Library Record</a>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="jd-tab-content-block">
                                        <div class="jd-tab-pane jd-info-pane active" id="basic-info">
                                            <div class="row">
                                                <div class="col-md-4 jd-info-block">
                                                    <table class="table">
                                                        <tbody>
                                                            <tr class="info-item">
                                                                <td class="info-item-title">
                                                                   Registration No 
                                                                </td>
                                                                <td class="info-item-descr">
                                                                    {{ student.registration_number }}
                                                                </td>
                                                            </tr>
                                                            <tr class="info-item">
                                                                <td class="info-item-title">
                                                                   Firstname
                                                                </td>
                                                                <td class="info-item-descr ng-binding">
                                                                    {{ student.firstname }}
                                                                </td>
                                                            </tr>
                                                            <tr class="info-item">
                                                                <td class="info-item-title">
                                                                    Lastname
                                                                </td>
                                                                <td class="info-item-descr">
                                                                    {{ student.lastname }}
                                                                </td>
                                                            </tr>
                                                            <tr class="info-item">
                                                                <td class="info-item-title">
                                                                    Other Names
                                                                </td>
                                                                <td class="info-item-descr">
                                                                    {{ student.othernames }}
                                                                </td>
                                                            </tr>
                                                            <tr class="info-item">
                                                                <td class="info-item-title">
                                                                    Gender
                                                                </td>
                                                                <td class="info-item-descr">
                                                                    {{ student.gender }}
                                                                </td>
                                                            </tr>
                                                            <tr class="info-item">
                                                                <td class="info-item-title">
                                                                    Date Of Birth
                                                                </td>
                                                                <td class="info-item-descr">
                                                                    {{ factory.formatDate_1(student.dob) }}
                                                                </td>
                                                            </tr>
                                                            <tr class="info-item">
                                                                <td class="info-item-title">
                                                                    Phone No
                                                                </td>
                                                                <td class="info-item-descr">
                                                                    {{ student.phone1 }}
                                                                </td>
                                                            </tr>
                                                            <tr class="info-item">
                                                                <td class="info-item-title">
                                                                    Email
                                                                </td>
                                                                <td class="info-item-descr">
                                                                    {{ student.email }}
                                                                </td>
                                                            </tr>
                                                            <tr class="info-item">
                                                                <td class="info-item-title">
                                                                    Address
                                                                </td>
                                                                <td class="info-item-descr">
                                                                    {{ (student.address) ? student.address+', ' : '' }} {{ (student.city) ? student.city+', ' : ''}} {{ student.state+' State' }}
                                                                </td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </div>
                                                <div class="col-md-4 jd-info-block">
                                                    <table class="table">
                                                        <tbody>
                                                            <tr class="info-item">
                                                                <td class="info-item-title">
                                                                   Admission Date 
                                                                </td>
                                                                <td class="info-item-descr">
                                                                    {{ student.admission_date }}
                                                                </td>
                                                            </tr>
                                                            <tr class="info-item">
                                                                <td class="info-item-title">
                                                                   Category
                                                                </td>
                                                                <td class="info-item-descr">
                                                                    {{ student.category }}
                                                                </td>
                                                            </tr>
                                                            <tr class="info-item">
                                                                <td class="info-item-title">
                                                                    Department
                                                                </td>
                                                                <td class="info-item-descr">
                                                                    {{ student.department }}
                                                                </td>
                                                            </tr>
                                                            <tr class="info-item">
                                                                <td class="info-item-title">
                                                                    Class Type
                                                                </td>
                                                                <td class="info-item-descr">
                                                                    {{ student.class_type }}
                                                                </td>
                                                            </tr>
                                                            <tr class="info-item">
                                                                <td class="info-item-title">
                                                                    Class Level
                                                                </td>
                                                                <td class="info-item-descr">
                                                                    {{ student.level }}
                                                                </td>
                                                            </tr>
                                                            <tr class="info-item">
                                                                <td class="info-item-title">
                                                                    Class
                                                                </td>
                                                                <td class="info-item-descr">
                                                                    {{ student.class }}
                                                                </td>
                                                            </tr>
                                                            
                                                            <!-- additional details -->
                                                            <tr class="info-item" ng-repeat="detail in student.additional_details">
                                                                <td class="info-item-title">
                                                                    {{ detail.name }}
                                                                </td>
                                                                <td class="info-item-descr">
                                                                    {{ detail.value }}
                                                                </td>
                                                            </tr>
                                                            <!--/ additional details -->
                                                            
                                                        </tbody>
                                                    </table>
                                                </div>
                                                <div class="col-md-4 jd-info-block">
                                                    <table class="table">
                                                        <tbody>
                                                            <tr class="info-item">
                                                                <td class="info-item-title">
                                                                   Photo 
                                                                </td>
                                                                <td class="info-item-descr">
                                                                    <img ng-src="assets/images/uploads/1/passport_photo.jpg">
                                                                </td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="jd-tab-pane jd-info-pane" id="guardian-info">
                                            Guardian's Information
                                        </div>
                                        <div class="jd-tab-pane jd-info-pane" id="library-record">
                                            Library Record
                                        </div>
                                    </div>
                                </div>

                            </div>
                            <!-- End Page Content -->
                            
                        </div>
                    <!-- End Page -->
                    
                    
                    
                    
<script>
    $(function(){
        $('#img-placeholder').imagepreview({
            input: '[name="photo"]',
            reset: '',
            preview: '#img-placeholder'
        });
    });
</script>