                                            <div class="jd-cards-container">
                                                <div class="jd-card active" id="card-all-dept">
                                                    <h1 class="h5 m-b-md m-t-none font-normal jd-card-title">
                                                        All Classes
                                                    </h1>
                                                    <div class="btn-block-full">
                                                        <button class="btn jd-btn jd-btn-primary" onclick="showCard('card-new-dept')">New</button>
                                                    </div>
                                                    <table class="table table-hover table-striped table-responsive" datatable="" style="width: 100%"> 
                                                        <thead class="table-bordered">
                                                            <tr>
                                                                <th>SN</th>
                                                                <th>Name</th>
                                                                <th>Code</th>
                                                                <th>Department</th>
                                                                <th>No. of Students</th>
                                                                <th></th>
                                                            </tr>
                                                        </thead>
                                                        <tbody class="table-bordered">
                                                            <tr>
                                                                <td>1</td>
                                                                <td>Junior Secondary School One</td>
                                                                <td>J S S 1</td>
                                                                <td>common</td>
                                                                <td>0</td>
                                                                <td></td>
                                                                <div class="border: solid 1px red; display: none">
                                                                    <tr>
                                                                        <td>1</td>
                                                                        <td>Junior Secondary School One A</td>
                                                                        <td>J S S 1A</td>
                                                                        <td>common</td>
                                                                        <td>0</td>
                                                                        <td></td>
                                                                    </tr>
                                                                    <tr>
                                                                        <td>2</td>
                                                                        <td>Junior Secondary School One A</td>
                                                                        <td>J S S 1B</td>
                                                                        <td>common</td>
                                                                        <td>0</td>
                                                                        <td></td>
                                                                    </tr>
                                                                </div>
                                                            </tr>
                                                            <tr>
                                                                <td>2</td>
                                                                <td>Junior Secondary School Two</td>
                                                                <td>J S S 2</td>
                                                                <td>common</td>
                                                                <td>0</td>
                                                                <td></td>
                                                            </tr>
                                                            <tr>
                                                                <td>2</td>
                                                                <td>Junior Secondary School Two</td>
                                                                <td>J S S 2</td>
                                                                <td>common</td>
                                                                <td>0</td>
                                                                <td></td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </div>
                                                
                                                <div class="jd-card" id="card-3">Card 3</div>
                                            </div>