                                            <div class="row">    
                                                <div class="col-md-9">
                                                    <table class="table table-hover table-striped table-responsive" datatable="ng"> 
                                                        <thead class="table-bordered">
                                                            <tr>
                                                                <th>SN</th>
                                                                <th>Name</th>
                                                                <th>Code</th>
                                                                <th>No. of Classes</th>
                                                                <th></th>
                                                            </tr>
                                                        </thead>
                                                        <tbody class="table-bordered">
                                                            <tr ng-repeat="department in departments">
                                                                <td>{{ $index + 1 }}</td>
                                                                <td>{{ department.name }}</td>
                                                                <td>{{ department.code }}</td>
                                                                <td>0</td>
                                                                <td class="tb-btn"><i class="ion ion-clipboard jd-btn-primary" rel="tooltip" data-toggle="tooltip" data-placement="top" title="" onmouseenter="$(this).tooltip('show')" data-original-title="View"></i></td>
                                                            </tr>

                                                        </tbody>
                                                    </table>
                                                </div>
                                                <div class="col-md-3">
                                                    <div class="sidebar-container">
                                                        <h3 class="h4 m-b-md m-t-none font-normal sidebar-form-title">New Department</h3>
                                                        <form class="sidebar-form-content" name="form-add-student-dept" id="form-add-student-dept" novalidate>
                                                            <div class="form-group">
                                                                <label for="name" class="control-label">Dept Name<span class="required-field"> *</span></label>
                                                                <input type="text" ng-model="dept.name" name="name" class="form-control" required>
                                                            </div>
                                                            <div class="form-group">
                                                                <label for="name" class="control-label">Dept Code<span class="required-field"> *</span></label>
                                                                <input type="text" ng-model="dept.code" name="code" class="form-control" required>
                                                            </div>
                                                            <div class="form-group button-container">
                                                                <button class="btn jd-btn jd-btn-default">Cancel</button>
                                                                <button class="btn jd-btn jd-btn-primary" ng-click="addAcademicDept()">Submit</button>
                                                            </div>
                                                        </form>
                                                    </div>
                                                </div>
                                            </div>
                                               