                <section class="vbox">
                    <section class="w-f-md scrollable hover">
                        <nav class="nav-primary bg hidden-xs">
                            <ul id="menu-discover-music" class="nav menu">
                                <li class='hidden-nav-xs padder m-t m-b-sm text-xs text-muted'>Navigation</li>
                                <li data-status="close">
                                    <a ui-sref="dashboard" class="auto font-bold">
                                        <i class="icon icon-grid text-info-lt"></i>
                                        <span>Dashboard</span>
                                    </a>
                                </li>
                                <li data-status="close">
                                    <a ui-sref="students" class="auto font-bold">
                                        <i class="icon icon-graduation text-info-lt"></i>
                                        <span>Students</span>
                                    </a>
                                </li>
                                <li data-status="close">
                                    <a ui-sref="parents" class="auto font-bold">
                                        <i class="icon icon-users text-info-lt"></i>
                                        <span>Guardians</span>
                                    </a>
                                </li>
                                <li data-status="close">
                                    <a ui-sref="employees" class="auto font-bold">
                                        <i class="icon icon-directions text-info-lt"></i>
                                        <span>Employees</span>
                                    </a>
                                </li>
                                <li data-status="close">
                                    <a href="#" class="auto font-bold">
                                        <i class="icon icon-folder-alt text-info-lt"></i>
                                        <span>Library</span>
                                    </a>
                                </li>
                                <li data-status="close">
                                    <a href="#" class="auto font-bold">
                                        <i class="icon icon-calendar text-info-lt"></i>
                                        <span>Events</span>
                                    </a>
                                </li>
                                <li data-status="close">
                                    <a href="#" class="auto font-bold">
                                        <span class="pull-right text-muted">
                                            <i class="fa fa-angle-left text"></i>
                                            <i class="fa fa-angle-down text-active"></i>
                                        </span>
                                        <i class="icon icon-book-open text-info-lt"></i>
                                        <span>Timetables</span>
                                    </a>
                                    <ul class="nav sub-menu">
                                        <li id="menu-item-432" class="active">
                                            <a href="#" class="auto font-bold">
                                                <i class="fa fa-circle text-info-lt"></i>
                                                <span>Class Timetables</span>
                                            </a>
                                        </li>
                                        <li id="menu-item-432" class="active">
                                            <a href="#" class="auto font-bold">
                                                <i class="fa fa-circle text-info-lt"></i>
                                                <span>Exam Timetables</span>
                                            </a>
                                        </li>
                                    </ul>
                                </li>
                                <li data-status="close">
                                    <a href="#" class="auto font-bold">
                                        <i class="icon icon-docs text-info-lt"></i>
                                        <span>Results</span>
                                    </a>
                                </li>
                                <li data-status="close">
                                    <a href="#" class="auto font-bold">
                                        <i class="icon icon-envelope text-info-lt"></i>
                                        <span>Mails</span>
                                    </a>
                                </li>
                                <li data-status="close" class="tt">
                                    <a href="" class="auto font-bold">
                                        <span class="pull-right text-muted">
                                            <i class="fa fa-angle-left text"></i>
                                            <i class="fa fa-angle-down text-active"></i>
                                        </span>
                                        <i class="icon icon-settings text-info-lter"></i>
                                        <span>Settings</span>
                                    </a>
                                    <ul class="nav sub-menu">
                                        <li class="active">
                                            <a ui-sref="general-settings" class="auto font-bold">
                                                <i class="fa fa-circle text-info-lt"></i>
                                                <span>General</span>
                                            </a>
                                        </li>
                                        <li class="active">
                                            <a ui-sref="academic-settings" class="auto font-bold">
                                                <i class="fa fa-circle text-info-lt"></i>
                                                <span>Academics</span>
                                            </a>
                                        </li>
                                        <li class="active">
                                            <a ui-sref="hr-settings" class="auto font-bold">
                                                <i class="fa fa-circle text-info-lt"></i>
                                                <span>Human Resource</span>
                                            </a>
                                        </li>
                                    </ul>
                                </li>
                                
                                <li class="m-b hidden-nav-xs"></li>
                            </ul>
                        </nav>
                        <nav class="nav-primary hidden-xs">
                            <ul id="menu-main" class="nav">
                                <li class='hidden-nav-xs padder m-t m-b-sm text-xs text-muted' style="text-align: center">www.schoolwebsite.com</li>
                                <!--<li id="menu-item-422" data-status="close">
                                    <a href="#" class="auto ">
                                        <i class="icon icon-notebook"></i>
                                        <span>Blog</span>
                                    </a>
                                </li>
                                <li id="menu-item-424" data-status="close">
                                    <a href="#" class="auto "> 
                                        <span class="pull-right text-muted">
                                            <i class="fa fa-angle-left text"></i>
                                        </span>
                                        <i class="icon icon-doc"></i>
                                        <span>Pages</span>
                                    </a>
                                    <ul class="nav dk sub-menu menu-odd  menu-depth-1">
                                            <li id="menu-item-427" ><a href="fullwidth/index.html" class="auto "><i class="fa fa-angle-right text-xs"></i><span>Fullwidth</span></a></li>
                                            <li id="menu-item-433" ><a href="page-with-sidebar/index.html" class="auto "><i class="fa fa-angle-right text-xs"></i><span>Sidebar</span></a></li>
                                            <li id="menu-item-426" ><a href="player/index.html" class="auto "><i class="fa fa-angle-right text-xs"></i><span>Player</span></a></li>
                                            <li id="menu-item-434" ><a href="sidebar-player/index.html" class="auto "><i class="fa fa-angle-right text-xs"></i><span>Sidebar &#038; Player</span></a></li>
                                    </ul>
                                </li>
                                <li id="menu-item-424" data-status="close">
                                    <a href="#" class="auto "> 
                                        <span class="pull-right text-muted">
                                            <i class="fa fa-angle-left text"></i>
                                        </span>
                                        <i class="icon icon-doc"></i>
                                        <span>Pages_2</span>
                                    </a>
                                    <ul class="nav dk sub-menu menu-odd  menu-depth-1">
                                            <li id="menu-item-427" ><a href="fullwidth/index.html" class="auto "><i class="fa fa-angle-right text-xs"></i><span>Fullwidth_2</span></a></li>
                                            <li id="menu-item-433" ><a href="page-with-sidebar/index.html" class="auto "><i class="fa fa-angle-right text-xs"></i><span>Sidebar_2</span></a></li>
                                            <li id="menu-item-426" ><a href="player/index.html" class="auto "><i class="fa fa-angle-right text-xs"></i><span>Player_2</span></a></li>
                                            <li id="menu-item-434" ><a href="sidebar-player/index.html" class="auto "><i class="fa fa-angle-right text-xs"></i><span>Sidebar &#038; Player)2</span></a></li>
                                    </ul>
                                </li>-->
                            </ul>
                        </nav>		        
                    </section>
                    <footer class="footer no-padder text-center-nav-xs">
                        <div class="bg">
                            <div class="dropdown dropup wrapper-sm clearfix">
                                <a href="login/index.html" class="btn btn-block m-t-xs m-b-xxs">
                                    <i class="icon-user-follow"></i>
                                    <span class="hidden-nav-xs m-l">Login</span>
                                </a>
                            </div>
                        </div>
                    </footer>
                </section>